.App {
  text-align: center;
  display: flex;
  justify-content: center;
  
}


.order{
  text-align: left;
  border: solid 1px;
  border-color: yellow;
  margin: 20px;
  padding: 20px;
}

span{
  color: purple;

}

p{  font-weight: bold;}